.bg-commingSoon {
  background: linear-gradient(320.54deg, #00069f 0%, #120010 72.37%),
    linear-gradient(58.72deg, #69d200 0%, #970091 100%),
    linear-gradient(121.28deg, #8cff18 0%, #6c0075 100%),
    linear-gradient(121.28deg, #8000ff 0%, #000000 100%),
    linear-gradient(180deg, #00ff19 0%, #24ff00 0.01%, #2400ff 100%),
    linear-gradient(52.23deg, #0500ff 0%, #ff0000 100%),
    linear-gradient(121.28deg, #32003a 0%, #ff4040 100%),
    radial-gradient(50% 72.12% at 50% 50%, #eb00ff 0%, #110055 100%);
  background-blend-mode: screen, color-dodge, color-burn, screen, overlay,
    difference, color-dodge, normal;
}

.bg-color-contact {
  position: relative;
  background: linear-gradient(129.96deg, #ff2f2f 10.43%, #000460 92.78%),
    radial-gradient(100% 246.94% at 100% 0%, #ffffff 0%, #020063 100%),
    linear-gradient(58.72deg, #2200f2 0%, #530000 100%),
    linear-gradient(154.03deg, #b70000 0%, #ff003d 74.04%),
    linear-gradient(341.1deg, #ff0000 7.52%, #0038ff 77.98%),
    linear-gradient(136.23deg, #00c2ff 11.12%, #ff0000 86.47%),
    radial-gradient(57.37% 100% at 50% 0%, #b50000 0%, #0034bb 100%),
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay, color-burn, screen, overlay, difference,
    difference, normal, normal;
}
